---
import Layout from "../layouts/Layout.astro";
import Titulo from "../components/layout/Titulo.astro";
import ListaDeLibros from "../components/book/ListaDeLibros.astro";
---

<Layout title="Libros de La Rueda del Tiempo">
  <main class="m-auto max-w-5xl">
    <Titulo />
    <ListaDeLibros />
  </main>
</Layout>
