---
import Footer from "../components/layout/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="../../public/favicon.svg" />
    <title>{title}</title>
    <meta name="view-transition" content="same-origin" />
  </head>
  <body class="grid min-h-screen grid-rows-[1fr,390px] md:grid-rows-[1fr,300px]">
    <div id="content">
      <slot />
    </div>

    <Footer />
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background-image: linear-gradient(to bottom, #191919, transparent);
    background-color: #191919;
    height: 100vh;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>

<script>
  import { startViewTransition } from "../utils/navigation.js";
  startViewTransition();
</script>
